$color-blue: #6aa6ff;
$color-blue2: #5197ff;

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Light.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.otf");
    font-weight: 500;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height:100%;
}
body{
    height:100%;
}
.wrapper{
    position:relative;
    min-height:100%;
    width:100%;
    background: url("../img/bg.png");
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:100% 0;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper .wr_td_content{
    height:100%;
    vertical-align:top;
}
.wrapper .wr_td_footer{
    height:40px;
    background:#333333;
    color: #777777;
}

h1, .h1 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: inherit;
}

h2, .h2 {
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3869b2;
}

h3, .h3 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: inherit;
}

h4, .h4 {
    font-family: "Montserrat", serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3869b2;
}

h5, .h5,
h6, .h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 0px;
    font-weight: normal;
    font-family: "Montserrat", serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: white;
    background: $color-blue;
    border-color: $color-blue2;
}
.white{
    color:white;
}

header{
    background:#333333;
    .img-navbar-logo {
        max-width: 30px;
        max-height: 30px;
        margin: -5px 10px;
    }
    .navbar-toggle{
        border-color: #777777;
        border-radius: 0px;
        :hover{
            border-color:#dddddd;
            background:#777777;
        }
        .icon-bar{
            background-color: white;
        }
    }
    .navbar-nav{

        > li > a {
            color: white;
            font-weight: normal;
            font-family: "Montserrat", serif;
            letter-spacing: 1px;
            text-transform: uppercase;
            &:hover, &:focus{
                color: $color-blue;
                background:none;
            }
        }
    }
}



.landing-advertising{
    margin:50px 0;
    .icon-circle{
        background: $color-blue;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        line-height:100px;
        text-align: center;
        border-radius: 50%;
        i{
            margin-top: 20px;
            color: #fff;
        }
    }
}


.panel {
    border-color: #ddd;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.75);
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.landing-panel{
    background-image: url(../img/sl1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    min-height:400px;
}
