//TODO refactor this
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height:100%;
}
body{
  height:100%;
}
.wrapper{
  position:relative;
  min-height:100%;
  width:100%;
  background: url("../images/blur.png");
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:100% 0;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper .wr_td_content{
  height:100%;
  vertical-align:top;
}
.wrapper .wr_td_footer{
  height:40px;
  background:#333333;
  color: #777777;
}

h1, .h1 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit;
}

h2, .h2 {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3869b2;
}

h3, .h3 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit;
}

h4, .h4 {
  font-family: "Montserrat", serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3869b2;
}

h5, .h5,
h6, .h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}
a:hover {
    cursor: pointer;
}

.white{
  color:white;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.fa-inline {
    margin-right: 10px;
}
.modal-content {
    text-align: left;
    background-color: #eee;
}
.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.profile{
    text-align:center;
    .profile-image {
        position: relative;
       img {
            max-width: 100px;
            max-height: 100px;
            border: 3px solid #fff;
            border-radius: 50%;
        }
        .btn-avatar {
            position: absolute;
            bottom: 0;
        }
    }
    *{
        color:white
    }
}
.body-left, .body-padding{
    padding-top:15px;
    padding-bottom:15px;
}

.timeline_tbl{
   border-bottom: 1px solid #ccc;
}
.timeline{
    position:relative;

    .line{
        height:25px;

        margin:0 0 10px;
        position:relative;
        &:after{
            content:"";
            display:block;
            position:absolute;
            left:-1.5px;
            right:-1.5px;
            top:0;
            height:100%;
            border-left:3px solid $timeline-color;
            border-right:3px solid $timeline-color;
        }
        &:before{
            content:"";
            display:block;
            position:absolute;
            height:3px;
            left:0;
            right:0;
            top:50%;
            margin-top:-1.5px;
            background:$timeline-color;
        }
        i{
            width:20px;
            height:20px;
            display:block;
            position:absolute;
            z-index:1;
            top:50%;
            margin-top:-10px;
            margin-left:-10px;
            border-radius: 50%;
            background:white;
            border: 2px solid $timeline-color;
            cursor:pointer;
            &:hover span{
                display:block;
            }
            span{
                display:none;
                position:absolute;
                background:$timeline-color;
                color:white;
                bottom:100%;
                left:-40px;
                right:-40px;
                padding: 10px;
                line-height:1;
                margin-bottom:10px;
                text-align:center;
                &:before{
                    content:"";
                    position:absolute;
                    top:100%;
                    display:block;
                    left:50%;
                    margin-left:-2px;

                    border-style: solid;
                    border-width: 5px 2px 0 2px;
                    border-color: $timeline-color transparent transparent transparent;

                }
            }
        }
    }
}

.blocks{

    > div{
        padding-top:20px;
        position:relative;
        &:last-child{
            padding-bottom:30px;
            .h_line:after{
                content:"";
                display:block;
                position:absolute;
                background:#C1C1C1;
                width:30px;
                height:30px;
                left:50%;
                bottom:0;
                margin-left:-15px;
                border-radius: 50%;
            }
        }
    }
    .h_line{
        position:absolute;
        top:0;
        height:100%;
        left: 0;
        right: 0;
        margin-left: -15px;
        margin-right: -15px;
        &:before{
            content:"";
            display:block;
            position:absolute;
            width:4px;
            left:50%;
            margin-left:-2px;
            top:0;
            bottom:0;
            background:#C1C1C1;
        }
    }

    .timeline-entry-icon, .timeline-entry-icon-inactive{
        background: #fff;
        height: 58px;
        width: 58px;
        box-shadow: 0 3px 0 0px rgba(0, 0, 0, 0.05);
        border:4px solid #6aa6ff;
        line-height: 3.5em;
        position: relative;
        z-index: 100;
        border-radius: 50%;
        color: #6aa6ff;
        bottom:-20px;
        i{
            vertical-align: middle;
        }
        &:hover{
            color:white;
            background:#6aa6ff;
        }
    }
    .timeline-entry-icon-inactive {
        background: #fff;
        border-color:#777777;
        position: relative;
        overflow: hidden;

        i.fa-ban{
          font-size: 6.198em;
          line-height: 0.32em;
        }
        i{
            color: #777777;
        }
        &:hover{
            color:white;
            background:#777777;
            i{
                color:white;
            }
        }
    }

}
.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    .progress-bar {
        float: left;
        width: 0%;
        height: 100%;
        font-size: 12px;
        line-height: 20px;
        color: white;
        text-align: center;
        background-color: #6aa6ff;
        -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
        -webkit-transition: width 0.6s ease;
        -o-transition: width 0.6s ease;
        transition: width 0.6s ease;
    }
}
.sidebar-control{
    a{
        background-color: transparent;
        border: 2px solid white;
        border-bottom:0;
        display:block;
        color:white;
        text-transform:uppercase;
        margin:0;
        &:last-child{
            border-bottom:2px solid white;
        }
        &.active, &:hover{
            background-color: rgba(255, 255, 255, 0.4);
            color:white;
        }
    }
    width: 100% !important;
}
.btn-ico{
    color:#6AA6FF;
    & table{
        height:52px;
        text-align:left;
        td:nth-child(1){
            padding-right:10px;
        }
    }
    h5{
        margin:0;
        text-transform: none;
    }
    h6{
        margin:0;
        text-transform: none;
    }
}
.nav-tabs{
    & > li{
        & > a{
            margin-right: 2px;
            line-height: 1.428571429;
            border: 1px solid transparent;
            border-radius: 0px 0px 0 0;
            &:hover, &:focus{
                border-color: #eeeeee #eeeeee #dddddd;
                background-color: #eeeeee;
            }
        }
        &.active > a{
            border-color: #eeeeee #eeeeee #dddddd;
            background-color: #eeeeee;
            &:hover, &:focus{
                border-color: #eeeeee #eeeeee #dddddd;
                background-color: #eeeeee;
                cursor: default;
            }
        }
    }
}

.nav{
    > .open{
        > a{
            background-color: #777777;
            cursor:pointer;
            &:hover, &:focus{
                background-color: #777777;

            }
        }
    }
}
#myTabs{
    border:0;
    li{
        display:block;
        float:none;
        margin:0;
        a{
            display:block;
            border:2px solid transparent;
            text-align:left;
            color:#6aa6ff;
            font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
        &.active a{
            border-color:#6aa6ff;
        }
    }
}
[data-icon]:before,
.icon-inhaler:before,
.icon-liquid:before,
.icon-pill:before,
.icon-syringe:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.icon-inhaler:before {
  content: "\f104";
}
.icon-liquid:before {
  content: "\f105";
}
.icon-pill:before {
  content: "\f106";
}
.icon-syringe:before {
  content: "\f107";
}
.table .table{
    background-color: transparent;
    margin-bottom: 0px;
}
.capitalize {
    text-transform: capitalize;
}
.login-alert {
    color: #d9534f;
    margin: 10px;
}

.records-menu {
    padding-left: 0;
    padding-right: 0;
}

.records-toggle {
    @extend .navbar-toggle;
    float: left;
    margin-right: 0;
    margin-left: 15px;
    border-color: white;
    border-width: 1px;
}

.records-menu-icon {
    @extend .icon-bar;
    background-color: white !important;
}

.medication-btn-info {
    @extend .btn;
    padding-top: 5px;
    padding-bottom: 15px
}
