
.landing-advertising{
  margin:50px 0;
  .icon-circle{
	background: $color-blue;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	line-height:100px;
	text-align: center;
	border-radius: 50%;
	i{
	  margin-top: 20px;
	  color: #fff;
	}
  }
}




.landing-panel{
  background-image: url(../images/hero3-optimized.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  min-height:400px;
}