<form novalidate role="form" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">Drug name (REQUIRED)</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="model.query" ng-disabled="model.active">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Dose (e.g. 20 MG)</label>

        <div class="col-sm-9">
            <input type="text" class="form-control" ng-model="model.drug.name">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button style="width: initial" class="btn btn-default form-control pull-right"
                    ng-click="search(model.query)" ng-disabled="model.active">Search
            </button>
        </div>
    </div>
    <div>
        <div class="alert alert-danger" role="alert" ng-show="model.err">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> {{model.err}}
        </div>
        <div class="alert alert-warning" role="alert" ng-show="model.warn">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Warning:</span> {{model.warn}}
            <ul ng-show="model.suggestions">
                <li ng-repeat="drug in model.suggestions"><a ng-click="search(drug)">{{drug}}</a></li>
            </ul>
        </div>
    </div>
    <div class="" ng-show="model.rxgroup">
        <h4>RxNorm Results ({{model.drugCount}})</h4>

        <div class="form-group" ng-show="model.rxgroup.dfg">
            <label class="col-sm-4 control-label">Filter Search Results by Medication Type:</label>

            <div class="col-sm-2">
                <select class="form-control" ng-model="model.drug.$" ng-disabled="!model.rxgroup.dfg">
                    <option></option>
                    <option ng-repeat="dfg in model.rxgroup.dfg">{{dfg}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Filter Search Results by Medication Brand:</label>

            <div class="col-sm-2">
                <select class="form-control" ng-model="model.brand.$" ng-disabled="!model.rxgroup.brand">
                    <option></option>
                    <option ng-repeat="brand in model.rxgroup.brand">{{brand}}</option>
                </select>
            </div>
        </div>
        <h5>Please select one of the drugs in the table below:</h5>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center"><span><i class="fa fa-check"></i></span></th>
                <th>Brand</th>
                <th>Name</th>
                <th>Type</th>
                <th>RxId</th>
            </tr>
            </thead>
            <tbody>
            <tr class="selectable"
                ng-class="{info: rxdrug.selected}"
                ng-repeat="rxdrug in model.rxgroup.compiled | filter:model.drug:strict | filter:model.brand:strict"
                ng-click="selectDrug()">
                <td class="text-center">
                    <span ng-show="rxdrug.selected"><i class="fa fa-check text-success"></i></span>
                </td>
                <td>{{rxdrug.brand}}</td>
                <td title="{{rxdrug.synonym}}">{{rxdrug.modifiedname}}</td>
                <td>
                    <span ng-repeat="dfgName in rxdrug.dfg">{{dfgName}}<span ng-show="!$last">, </span></span>
                </td>
                <td>{{rxdrug.rxcui}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
