<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="tab1">
        <h4>Details</h4>

        <table class="table">
            <tr ng-repeat="itm in model.detailRows">
                <td><strong>{{itm.key}}</strong></td>
                <td ng-switch="itm.type">
                    <span ng-switch-when="string">{{itm.value}}</span>

                    <table ng-switch-when="table" class="table">
                        <tr ng-repeat="childItm in itm.value.detailRows">
                            <td><strong>{{childItm.key}}</strong></td>
                            <td ng-switch="childItm.type">
                                <span ng-switch-when="string">{{childItm.value}}</span>

                                <table ng-switch-when="table" class="table">
                                    <tr ng-repeat="grandItm in childItm.value.detailRows">
                                        <td><strong>{{grandItm.key}}</strong></td>
                                        <td>{{grandItm.value}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
