<div ng-hide="withoutHeader && model.links.length == 0">
    <h3 ng-hide="withoutHeader">Entry Sources</h3>
    <div ng-show="model.links.length > 0">
        <table class="table table-condensed table-hover">
            <thead><tr><td>Source</td><td>Status</td><td>Modified</td></tr></thead>
            <tbody>
            <tr ng-repeat="link in model.links">
                <td><fhir-binary-link doc-ref="link"/></td>
                <td class="text-capitalize">{{link.status}}</td>
                <td>{{link.indexed}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="model.links.length == 0">
        <span>No source files found</span>
    </div>
</div>
