<div class="panel panel-default">
  <div class="panel-body">
    <div name="loginForm" ng-form="loginForm">
      <div class="form-group">
        <label for="login">User ID:</label>
        <input type="text" class="form-control" name="login" id="login" ng-model="model.login" ng-required="true" ng-minlength="1" focus="true">
        <p ng-show="loginForm.login.$invalid && !loginForm.login.$pristine" class="help-block">Username or email is required.</p>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" ng-model="model.password" ng-required="true" ng-minlength="1">
        <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required.</p>
      </div>
      <button id="main-login-btn" type="submit" class="btn btn-block btn-primary" ng-click="submitLogin()" ng-disabled="loginForm.$invalid">Log In</button>
      <div ng-if="model.error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i> {{model.error}}</div>
    </div>
  </div>
</div>