<header>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="{{model.$state.current.data.isPublic ? 'main' : 'home'}}">
        <img class="img-navbar-logo" src="images/bb-logo-vector.png">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="login-menu">
      <ul ng-show="model.isAuthenticated" class="nav navbar-nav">
        <li>
          <a ui-sref="record">My Record</a>
        </li>
        <li>
          <a href="">My Billing</a>
        </li>
        <li>
          <a href="">My Notes</a>
        </li>
        <li>
          <a href="">My Files</a>
        </li>
      </ul>
      <ul ng-show="model.isAuthenticated" class="nav navbar-nav navbar-right ">
        <li>
          <img class="img-navbar-avatar" ng-src="{{model.avatarUrl}}">
        </li>
        <li class="dropdown">
          <a class="button dropdown-toggle" data-toggle="dropdown">
            <span ng-bind="model.userName"></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="">My Profile</a>
            </li>
            <li>
              <a href="">My Account</a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-click="logOut()">Log out</a>
            </li>
          </ul>
        </li>
      </ul>
        <!--
      <ul ng-hide="model.isAuthenticated" class="nav navbar-nav navbar-right ">
        <li><a ui-sref="register">Sign Up</a>
        </li>
        <li><a ui-sref="login">Log In</a>
        </li>
      </ul>
        -->
    <ul class="nav navbar-nav navbar-right">
        <li>
            <img class="img-navbar-avatar" src="images/img-demo.jpg">
        </li>
        <li class="dropdown">
            <a class="button dropdown-toggle" data-toggle="dropdown">
                <span >Isabella Jones</span>
                <span class="caret"></span>

            </a>
            <ul class="dropdown-menu">
                <li><a href="#">My Profile</a>
                </li>
                <li><a href="#">My Account</a>
                </li>
                <li class="divider"></li>
                <li><a href="#">Log out</a>
                </li>
            </ul>
        </li>
    </ul>  
    </div>

  </div>
</header>