<div class="panel panel-body" ng-show="model.qty>0">
    <div class="clearfix text-right">
        <ul class="pagination matches">
            <li class="previous" ng-class="{disabled: model.index<1}"><a ng-click="prev()"><span
                aria-hidden="true">&larr;</span> Previous</a></li>
            <li class="next" ng-class="{disabled: model.index >= model.qty-1}"><a ng-click="next()">Next <span
                aria-hidden="true">&rarr;</span></a></li>
            <li class="page-info"><span>{{model.index+1}} of {{model.qty}}</span></li>
        </ul>
    </div>
    <div class="row">
        <div resource-diff="model.matches[model.index]"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <button class="btn btn-default col-sm-offset-2 col-sm-8 col-xs-12" ng-click="undoAllButton()">
                <i class="fa fa-undo"></i>&nbsp;Undo All
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-default col-sm-offset-2 col-sm-8 col-xs-12" ng-click="ignoreMatch()">not a match</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-primary col-sm-offset-2 col-sm-8 col-xs-12" ng-click="updateResource()">Save Updates</button>
        </div>
    </div>
</div>
