<div>
    <h4>Images</h4>
    <div ng-show="model.wasLoaded && model.images.length > 0">
        <span>The following image(s) were found in the NIH NLM RxImage Database </span><br/>
        <div class="col-xs-3" ng-repeat="imageUrl in model.images">
            <a ng-href="{{imageUrl}}" target="_blank">
                <img class="img-thumbnail" ng-src="{{imageUrl}}">
            </a>
        </div>
    </div>
    <div ng-show="model.wasLoaded && model.images.length == 0">
        <span>No images found in the NIH NLM RxImage Database</span>
    </div>
</div>
