<div class="panel-body">
    <div class="row table-responsive">
        <div class="col-sm-12">
            <div class="text-center"><h4>{{resourceDiff.lhs.resourceType}}</h4></div>
            <table class="table table-condensed">
                <tr class="text-center">
                    <th></th>
                    <th><h5>Path</h5></th>
                    <th><h5>Current record</h5></th>
                    <th><h5>Updated record</h5></th>
                </tr>
                <tr class="match" ng-repeat="diff_entry in resourceDiff.changes">
                    <td>
                        <input type="checkbox" ng-model="diff_entry.apply"/>
                    </td>
                    <td class="diff-path">
                        <div class="panel details-table">
                            <div entry-details-item="diff_entry.model.path"></div>
                        </div>
                    </td>
                    <td class="diff-lhs">
                        <span class="label label-success text-capitalize"
                              ng-show="diff_entry.kind === 'N'">new data</span>

                        <div class="panel details-table" ng-hide="diff_entry.kind === 'N'">
                            <div entry-details-item="diff_entry.model.lhs"></div>
                        </div>
                    </td>
                    <td class="diff-rhs">
                        <span class="label label-danger text-capitalize"
                              ng-show="diff_entry.kind === 'D' && diff_entry.apply">deleted</span>

                        <div class="details-table panel"
                             ng-hide="diff_entry.kind === 'D' && diff_entry.apply || diff_entry.kind === 'N' && !diff_entry.apply">
                            <div entry-details-item="diff_entry.model.rhs" ng-show="diff_entry.apply"></div>
                            <div entry-details-item="diff_entry.model.lhs" ng-show="!diff_entry.apply"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
