    <div class="panel-body">
        <div class="form-group">
            <h5>Please select the file you intend to upload</h5>
            <input type="file" class="form-control" name="file" nv-file-select="" uploader="uploader">
            <div class="progress" >
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
            <button type="button" class="btn pull-right btn-primary" ng-click="uploader.uploadAll()"
                    ng-disabled="!uploader.getNotUploadedItems().length"> Continue
            </button>
        </div>
    </div>
