<div class="panel panel-body">
  <div class="row">
    <div class="col-sm-6">
      <h4>Measurements</h4>
      <table class="table">
        <tbody>
        <tr>
          <td>
            <h4 class="text-muted">Height</h4>
          </td>
          <td>
            <h5>{{model.height}}</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="text-muted">Weight</h4>
          </td>
          <td>
            <h5>{{model.weight}}</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="text-muted">BMI</h4>
          </td>
          <td>
            <h5>{{model.BMI}}</h5>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="text-muted">Blood Pressure</h4>
          </td>
          <td>
            <h5>{{model.pressureSystolic}} / {{model.pressureDiastolic}}</h5>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <tabset>
        <tab heading="Weight">
          <nvd3 options="model.chartOptions" data="model.weightData"class="with-3d-shadow with-transitions"></nvd3>
        </tab>
        <tab heading="Blood Pressure">
          <nvd3 options="model.chartOptions" data="model.pressureData" class="with-3d-shadow with-transitions"></nvd3>
        </tab>
      </tabset>
    </div>
  </div>
</div>