<div class="blocks">
<div ng-repeat="item in userTimeline">
    <div class="row"><i class="col-sm-2 h_line"></i></div>
    <div class="row">
        <div class="col-sm-2">
            <div user-timeline-entry-icon="item"></div>
        </div>
        <div class="col-sm-10">
            <div class="panel panel-body">
                <h4><span class="text-left" ng-bind="item.title"></span></h4>
                <div ng-show="item.additionalInfo"><span ng-bind="item.additionalInfo"></span></div>
                <div user-timeline-entry-dates="item"></div>
                <div ng-if="item.menuType == menuTypes.inline" user-timeline-entry-menu="item"></div>

                <!-- TODO CREATE POPUP MENU DIRECTIVE -->
                <div ng-if="item.menuType == menuTypes.popup" ></div>
            </div>
        </div>
    </div>
</div>
</div>
