<div>
    <div>
        <button type="button" class="btn btn-link pull-right" ng-click="setTab('sources')"><i class="fa fa-clock-o"></i>Source</button>
        <button type="button" class="btn btn-link pull-right" ng-click="setTab('notes')"><i class="fa fa-comment"></i>Note</button>
        <button type="button" class="btn btn-link pull-right" ng-click="setTab('details')"><i class="fa fa-ellipsis-h"></i>Details</button>
        <div class="clearfix"></div>
    </div>
    <div class="inline-entry-details" ng-if="userTimelineEntryInlineInfo.isDetailsOpen && model.currentTab == 'details'">
        <div entry-details="userTimelineEntryInlineInfo.rawEntry"></div>
    </div>
    <div class="inline-entry-details" ng-if="userTimelineEntryInlineInfo.isDetailsOpen && model.currentTab == 'notes'">
        <div entry-note="userTimelineEntryInlineInfo"></div>
    </div>
    <div class="inline-entry-details" ng-if="userTimelineEntryInlineInfo.isDetailsOpen && model.currentTab == 'sources'">
        <div entry-source="userTimelineEntryInlineInfo.rawEntry"></div>
    </div>
</div>
