<p>Timeline</p>
<table class="timeline_tbl" width="100%">
  <tr>
    <td>
      <div class="timeline">
        <div class="line">
          <i style="left:40%;"><span>08/11/2015</span></i>
          <i style="left:50%;"><span>08/11/2015</span></i>
          <i style="left:60%;"><span>08/11/2015</span></i>
          <i style="left:80%;"><span>08/11/2015</span></i>
        </div>
        <div class="row">
          <div class="col-xs-6">Jun 2015</div>
          <div class="col-xs-6 text-right">Oct 2015</div>
        </div>
      </div>
    </td>
    <td>
      <div class="timeline">
        <div class="line">
          <i style="left:10%;"><span>08/11/2015</span></i>
          <i style="left:50%;"><span>08/11/2015</span></i>
          <i style="left:60%;"><span>08/11/2015</span></i>
          <i style="left:80%;"><span>08/11/2015</span></i>
        </div>
        <div class="row">
          <div class="col-xs-6"></div>
          <div class="col-xs-6 text-right">Oct 2015</div>
        </div>
      </div>
    </td>
  </tr>
</table>