@font-face {
  font-family: "Open Sans";
  src: url("../styles/fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../styles/fonts/Montserrat.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../styles/fonts/Roboto.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../styles/fonts/Raleway-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../styles/fonts/Raleway-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../styles/fonts/Raleway-Medium.otf");
  font-weight: 500;
}