<div class="">
    <div class="col-sm-3">
        <button class="btn btn-block btn-primary" ng-click="getPatients()">getPatients</button>
        <button class="btn btn-block btn-primary" ng-click="getPatient(3768)">getPatient(3768)</button>
        <button class="btn btn-block btn-primary" ng-click="getMedications()">getMedications()</button>
        <button class="btn btn-block btn-primary" ng-click="getMedication(3796)">getMedication(3796)</button>
        <button class="btn btn-block btn-primary" ng-click="getPatientMedications(3768)">getPatientMedications(3768)</button>
        <button class="btn btn-block btn-primary" ng-click="MedicationPrescription()">MedicationPrescription</button>
        <button class="btn btn-block btn-primary" ng-click="Medications(3768)">Medications data example</button>
    </div>
    <div class="col-sm-9 "><pre class="bg-{{res_type}}" style="white-space: pre-wrap;" ng-show="response">{{response | json }}</pre></div>
</di>
