<div class="panel panel-body">
    <home-breadcrumbs></home-breadcrumbs>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h4>My Files</h4>
        </div>
        <div class="col-md-3 col-sm-4 pull-right">
            <a ui-sref="files.upload" class="btn btn-link">
                <i class="fa fa-upload"></i> Upload File
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h5 ng-hide="model.tableParams.total"> There are currently no files in the DRE. Upload a file to get started
                and establish your Master Health Record! </h5>

            <div ng-show="model.tableParams.total">
                <table class="table table-responsive table-hover panel" ng-table="model.tableParams">
                    <tr ng-repeat="row in $data">
                        <td data-title="'Name'" sortable="'title'">
                            <fhir-binary-link doc-ref="row"/>
                        </td>
                        <td data-title="'Format'" sortable="'contentType'">{{row.contentType}}</td>
                        <td data-title="'Type'">{{row.display}}</td>
                        <td data-title="'Modified'" sortable="'indexed'">{{row.indexed}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
