<div class="panel panel-body">
    <home-breadcrumbs></home-breadcrumbs>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h4>{{model.userName}}'s immunizations</h4>

            <p>Last Updated: {{model.lastUpdate| date :'short'}}</p>
        </div>
    </div>
    <review-updates updates="model.updates" entry-type="model.entryType"></review-updates>
    <h4 class="text-center white">Immunizations</h4>

    <div class="panel panel-body">
        <div user-timeline="model.immunizations"></div>
        <h5 ng-hide="model.immunizations" class="col-sm-12 text-center">No Immunization Entries</h5>
    </div>
</div>
