<div class="container-fluid">
  <div class="row landing-panel">
    <h1 class="col-sm-offset-1 col-sm-4">Welcome to your Personal Health Record.</h1>

    <div class="col-sm-4 col-sm-offset-3">
      <div login-form></div>
    </div>
  </div>

  <!--Marketing Content-->
  <div class="row marketing-block">
    <div class="col-sm-11 col-sm-offset-1">
      <div class="landing-advertising">
        <div class="col-sm-3">
          <div>
            <div class="icon-circle">
              <i class="fa fa-thumbs-up fa-4x"></i>
            </div>
            <div class="text-center">
              <h2>Easy</h2>

              <p>Our interface is familiar and intuitive. You can easily browse all of your medical data, and quickly
                see who created it, what type of information it is and when it was recieved.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <div>
            <div class="icon-circle">
              <i class="fa fa-check fa-4x"></i>
            </div>
            <div class="text-center">
              <h2>Complete</h2>

              <p>All of your medical data is stored in one place, no matter where it comes from. You don't have to worry
                about data loss, as our cloud solution has support for regular backups.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <div>
            <div class="icon-circle">
              <i class="fa fa-lock fa-4x"></i>
            </div>
            <div class="text-center">
              <h2>Safe</h2>

              <p>Our solution provides strong protection for your medical records, including secure protocols for data
                transmission, user authentication and secure storage in the cloud.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
