<div class="landing-panel panel-body">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-6 white">Welcome to your Personal Health Record.</h1>
      <div class="col-sm-5 col-sm-offset-1">
        <div login-form=""></div>
      </div>
    </div>
  </div>
</div>
<div class="container">

  <div class="landing-advertising white">
    <div class="row">
      <div class="col-sm-4">
        <div class="icon-circle">
          <i class="fa fa-thumbs-up fa-4x"></i>
        </div>
        <div class="text-center">
          <h2 class="white">Easy</h2>
          <p>Our interface is familiar and intuitive. You can easily browse all of your medical data, and quickly see who created it, what type of information it is and when it was recieved.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="icon-circle">
          <i class="fa fa-check fa-4x"></i>
        </div>
        <div class="text-center">
          <h2 class="white">Complete</h2>
          <p>Our interface is familiar and intuitive. You can easily browse all of your medical data, and quickly see who created it, what type of information it is and when it was recieved.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="icon-circle">
          <i class="fa fa-lock fa-4x"></i>
        </div>
        <div class="text-center">
          <h2 class="white">Safe</h2>
          <p>Our interface is familiar and intuitive. You can easily browse all of your medical data, and quickly see who created it, what type of information it is and when it was recieved.</p>
        </div>
      </div>
    </div>
  </div>
</div>