<div class="panel panel-body">
    <home-breadcrumbs></home-breadcrumbs>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h4>{{model.userName}}'s medications</h4>

            <p>Last Updated: {{model.lastUpdate| date :'short'}}</p>
        </div>

        <div class="col-sm-3 col-sm-offset-3">
            <button class="btn btn-default" data-toggle="modal" data-target="#myModal3">
                <div class="text-left" style="text-transform: none;">
                    <div class="pull-right">
                        <h5 style="margin-top: 0px; margin-bottom: 0px; font-size: 1.5em;">Add Medication</h5>
                    </div>
                </div>
            </button>
        </div>
    </div>
    <review-updates updates="model.updates" entry-type="model.entryType"></review-updates>
</div>
<h4 class="text-center white">Medications</h4>
<div class="panel panel-body">
    <div>
        <div class="row"><i class="col-sm-2 h_line"></i></div>
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-10">
                <div class="btn-group pull-right">
                    <label class="btn btn-default" ng-click="filterMedications()">
                        <input type="checkbox" ng-model="model.showInactive">
                        Show Inactive Meds
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div user-timeline="model.filteredMedicationList"></div>
    <h5 ng-hide="model.medicationsList && model.showInactive" class="col-sm-12 text-center">No Medication Entries</h5>
</div>
