
<!-- MODAL 1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Print My Record</h3>
      </div>
      <div class="modal-body ng-scope">
        <div class="row text-center">
          <h3>Would you like to include the additional data you've entered?</h3>
          <h5>This would include your notes and the medications you've added yourself</h5>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
            <button class="btn btn-default col-sm-12">No</button>
          </div>
          <div class="col-sm-4 col-sm-offset-2">
            <button class="btn btn-primary col-sm-12">Yes</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END -->
<!-- MODAL 2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">DETAILS FOR ASPIRIN</h3>
      </div>
      <div class="modal-body ng-scope">
        <div class="row">
          <div class="col-md-3">
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
              <li class="active">
                <a class="btn btn-link" href="#tab1"><i class="fa fa-ellipsis-h"></i> Details</a>
              </li>
              <li>
                <a class="btn btn-link" href="#tab2"><i class="fa fa-comment"></i> Notes</a>
              </li>
              <li>
                <a class="btn btn-link" href="#tab3"><i class="fa fa-picture-o"></i> Images</a>
              </li>
              <li>
                <a class="btn btn-link" href="#tab4"><i class="fa fa-exclamation-triangle"></i> Adverse Events</a>
              </li>
              <li>
                <a class="btn btn-link" href="#tab5"><i class="fa fa-question-circle"></i> Learn More</a>
              </li>
              <li>
                <a class="btn btn-link" href="#tab6"><i class="fa fa-clock-o"></i> History</a>
              </li>
            </ul>
          </div>
          <div class="col-md-9">
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="tab1">
                <h4>Details</h4>
                <table class="table table-hover ng-scope">
                  <tr>
                    <td>Status:</td>
                    <td>Completed</td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>Completed</td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>Completed</td>
                  </tr>
                </table>
              </div>
              <div class="tab-pane fade" id="tab2">
                <h4>Notes</h4>
                <div class="row container-fluid">
                  <div class="col-sm-1 panel-body">
                    <h5 class="text-center"><a><i class="fa fa-star-o"></i></a></h5>
                  </div>
                  <div class="col-sm-11 panel-body">
                    <div class="form-group">
                      <label for="commentEntry">New:</label>
                      <textarea class="form-control" placeholder="Enter Note" rows="2" required="required"name="commentEntry"></textarea>
                    </div>
                    <button class="btn btn-primary pull-right" disabled="disabled">Add Note</button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab3">
                <h4>IMAGES</h4>
                <p>No images found in the NIH NLM RxImage Database for search term 'Aspirin'</p>
              </div>
              <div class="tab-pane fade" id="tab4">
                <h4>ADVERSE EVENTS</h4>
                <p>The following adverse events were reported to the FDA for this medication (Source: OpenFDA Adverse Events database)</p>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <td>Term</td>
                    <td class="ng-binding">Number reported (out of 396060 )</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="ng-binding">NAUSEA</td>
                    <td class="ng-binding">2.93 %</td>
                  </tr>
                  <tr>
                    <td class="ng-binding">DYSPNOEA</td>
                    <td class="ng-binding">2.93 %</td>
                  </tr>
                  <tr>
                    <td class="ng-binding">FLUSHING</td>
                    <td class="ng-binding">2.93 %</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="tab5">
                <h4>LEARN MORE</h4>
                <p>Click on the following link(s) from MedlinePlus Connect to learn more about this medication.</p>
                <p>No MedlinePlus links found for search term 'Aspirin'</p>
              </div>
              <div class="tab-pane fade" id="tab6">
                <h4>SOURCES</h4>
                <table class="table table-hover ng-scope">
                  <tr>
                    <td>Source</td>
                    <td><a href="#">bluebutton-cms.txt</a></td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>New</td>
                  </tr>
                  <tr>
                    <td>Merged</td>
                    <td>8/11/15 4:20 PM</td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
        </div>
        <script>
          $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
        </script>

      </div>
      <div class="modal-footer">
        <button class="btn btn-primary pull-right" data-dismiss="modal" ng-click="close()">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END -->
<!-- MODAL 3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Medication Entry</h3>
      </div>
      <div class="modal-body ng-scope">
        <h3>Select a drug type:</h3>
        <div class="row">
          <div class="col-sm-6">
            <button class="btn btn-default btn-group-justified">Prescription</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-default btn-group-justified">Over the Counter</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!-- END -->