<nav class="navbar">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="records-toggle collapsed" data-toggle="collapse" data-target="#notesnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="records-menu-icon"></span>
                <span class="records-menu-icon"></span>
                <span class="records-menu-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse records-menu" id="notesnav">
            <div class="sidebar-control nav navbar-left">
                <a ui-sref="notes({noteType:undefined})" ui-sref-active-eq="active" class="btn">All</a>
                <a ng-repeat="item in model.dataTypes" ui-sref="notes({noteType:item.noteType})" ui-sref-active="active" class="btn">{{item.title}} ({{item.itemCount}})</a>
            </div>
        </div>
    </div>
</nav>
