<div class="panel panel-body">
    <home-breadcrumbs></home-breadcrumbs>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h4>{{model.userName}}'s review updates</h4>

            <p>Entries to the right are possible matches to a current entry in your record, displayed to the left.</p>

            <p>Use the checkboxes to select updates you wish to apply.</p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<h4 class="text-center white">Matches</h4>
<div class="panel panel-body" ng-show="model.isLoading">
    <div class="col-sm-12 text-center">
        <h5 us-spinner="model.spin"></h5>
    </div>
</div>
<div class="panel panel-body" ng-show="!model.isLoading && model.matches.length<1">
    <h5 class="col-sm-12 text-center">No Review Entries</h5>
</div>
<review matches="model.matches"></review>
