<div class="container">
    <div class="row">
        <div class="col-sm-3 body-left">
            <div class="profile panel-body">
                <div class="profile-image">
                    <img src="images/img-demo.jpg" alt=""/>
                </div>
                <h4>Isabella Jones</h4>
                <p>Born: May 1, 1975</p>
            </div>
        </div>
        <div class="col-sm-9 body-padding">
            <div class="panel panel-body">
                <div class="breadcrumb0">
                    <a href="#">Home</a>
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <h4 class="ng-binding">Hi Isabella !</h4>
                        <p>Welcome to your Personal Health Record. You can review your record summary and account history from this home page.</p>
                        <p>Last Login: 8/12/15 11:49 AM</p>
                        <p>Last Updated: 8/11/15 4:20 PM</p>
                    </div>
                    <div class="col-sm-5">
                        
                    </div>
                </div>
            </div>
            <h4 class="text-center white">Account History</h4>
            <div class="panel panel-body">
                <p>Timeline</p>
                <table class="timeline_tbl" width="100%">
                    <tr>
                        <td>
                            <div class="timeline">
                                <div class="line">                      
                                    <i style="left:40%;"><span>08/11/2015</span></i>
                                    <i style="left:50%;"><span>08/11/2015</span></i>
                                    <i style="left:60%;"><span>08/11/2015</span></i>
                                    <i style="left:80%;"><span>08/11/2015</span></i>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">Jun 2015</div>
                                    <div class="col-xs-6 text-right">Oct 2015</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="timeline">
                                <div class="line">                      
                                    <i style="left:10%;"><span>08/11/2015</span></i>
                                    <i style="left:50%;"><span>08/11/2015</span></i>
                                    <i style="left:60%;"><span>08/11/2015</span></i>
                                    <i style="left:80%;"><span>08/11/2015</span></i>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6"></div>
                                    <div class="col-xs-6 text-right">Oct 2015</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="blocks">
                    <div>
                        <div class="row"><i class="col-sm-2 h_line"></i></div>
                        <div class="row">
                            <div class="col-sm-2">
                                <a class="timeline-entry-icon text-center center-block">
                                    <i class="fa fa-sign-in fa-2x"></i>
                                </a>
                            </div>
                            <div class="col-sm-10">
                                <div class="panel panel-body">
                                    <h4 class="text-left">Logged in</h4>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5 class="text-left">8/12/15 1:51 PM</h5>
                                        </div>
                                        <div class="col-sm-9">
                                                <h5><span>User logged in from IP address '31.24.28.6'</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row"><i class="col-sm-2 h_line"></i></div>
                        <div class="row">
                            <div class="col-sm-2">
                                <a class="timeline-entry-icon text-center center-block">
                                    <i class="fa fa-cloud-upload fa-2x"></i>
                                </a>
                            </div>
                            <div class="col-sm-10">
                                <div class="panel panel-body">
                                    <h4 class="text-left">FILE UPLOADED</h4>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5 class="text-left">8/12/15 1:51 PM</h5>
                                        </div>
                                        <div class="col-sm-9">
                                                <h5><span>User logged in from IP address '31.24.28.6'</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row"><i class="col-sm-2 h_line"></i></div>
                        <div class="row">
                            <div class="col-sm-2">
                                <a class="timeline-entry-icon text-center center-block">
                                    <i class="fa fa-user fa-2x"></i>
                                </a>
                            </div>
                            <div class="col-sm-10">
                                <div class="panel panel-body">
                                    <h4 class="text-left">Account created</h4>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5 class="text-left">8/12/15 1:51 PM</h5>
                                        </div>
                                        <div class="col-sm-9">
                                                <h5><span>User logged in from IP address '31.24.28.6'</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
