<div class="panel panel-body">
  <home-breadcrumbs></home-breadcrumbs>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h4>{{model.userName}}'s Record Overview</h4>

      <p>This page gives an overview of your health record activity.</p>

      <p>Last Updated: {{model.lastUpdate| date :'short'}}</p>
    </div>
    <div class="col-sm-6 col-md-3 box">
      <a href="" class="btn btn-default btn-ico center-block" data-toggle="modal" data-target="#myModal" ng-click="showPrintDlg()">
        <table>
          <tr>
            <td><i class="fa fa-print fa-2x"></i></td>
            <td>
              <h5>Print <br> my record</h5>
            </td>
          </tr>
        </table>
      </a>
    </div>
    <div class="col-sm-6 col-md-3 box">
      <a class="btn btn-default btn-ico center-block" target="_self" href="{{model.mhrLink}}">
        <table>
          <tr>
            <td><img class="img-navbar-logo" src="images/bb-logo-vector.png" height="30"></td>
            <td>
              <h6>BlueButton</h6>
              <h5>Download<br>my data<span style="font-size: 8px; vertical-align: top;">®</span></h5>
            </td>
          </tr>
        </table>
      </a>
      <h6 class="text-center">
        <a href="http://healthit.gov/patients-families/your-health-data" target="_blank">Blue Button</a> lets you go
        online and download your health records.
      </h6>
    </div>
  </div>
</div>
<user-measurements></user-measurements>
<h4 class="text-center white">Account History</h4>
<div class="panel panel-body">
    <div class="blocks">
        <div ng-repeat="item in model.actionsList" user-timeline-entry="item"></div>
    </div>
    <h5 ng-hide="model.actionsList" class="col-sm-12 text-center">No data available</h5>
  </div>
</div>
