<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 body-padding">
      <!-- STEP 1 -->
      <div ng-show="model.step == 1">
        <h4 class="text-center white">Registration: Step One</h4>

        <div class="panel panel-body" ng-form="step1Form" name="step1Form">
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 35%">
            </div>
          </div>
          <h5 class="text-center">Note: All fields are required.</h5>

          <div class="form-group">
            <label>User ID:</label>
            <input type="text" class="form-control" ng-model="model.login" ng-model-options="{ debounce: 250 }"
                   name="login" required ng-minlength="1" ng-maxlength="30" unique-username-validator>

            <div ng-messages="step1Form.login.$error" role="alert" ng-if="step1Form.login.$dirty">
              <p ng-message="required, minlength, maxlength" class="help-block">Username must be between 1 and 30
                characters.</p>
              <p ng-message="uniqueUsername" class="help-block">That Username already exists, please choose another.</p>
            </div>
          </div>
          <div class="form-group">
            <label>Email Address:</label>
            <input type="email" class="form-control" ng-model="model.email" name="email" required>

            <div ng-messages="step1Form.email.$error" role="alert" ng-if="step1Form.email.$dirty">
              <p ng-message="required, minlength, maxlength, email" class="help-block">Must be a valid email
                address.</p>
            </div>
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" ng-model="model.password" name="password" required
                   ng-minlength="8" ng-maxlength="20" input-equals-validator="{{model.confirm}}">

            <div ng-messages="step1Form.password.$error" role="alert" ng-if="step1Form.password.$dirty">
              <p ng-message="required, minlength, maxlength" class="help-block">Password must be between 8 and 20
                characters</p>

              <p ng-message="equals" class="help-block">Password must match password confirm.</p>
            </div>
          </div>
          <div class="form-group">
            <label>Repeat Password:</label>
            <input type="password" class="form-control" ng-model="model.confirm" name="confirm" required
                   ng-minlength="8" ng-maxlength="20">

            <div ng-messages="step1Form.confirm.$error" role="alert" ng-if="step1Form.confirm.$dirty">
              <p ng-message="required, minlength, maxlength" class="help-block">Password must be between 8 and 20
                characters</p>
            </div>
          </div>
          <button type="button" class="btn btn-block btn-primary" ng-click="model.step = 2"
                  ng-disabled="step1Form.$invalid || step1Form.$pending">Next
          </button>
          <div ng-show="step1Form.$pending" class="text-center login-alert"><i class="fa fa-spinner fa-spin"></i></div>
        </div>
      </div>
      <!-- STEP 1 END -->
      <!-- STEP 2 -->
      <div ng-show="model.step == 2">
        <h4 class="text-center white">Registration: Step Two</h4>

        <div class="panel panel-body" ng-form="step2Form" name="step2Form">
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 67%">
            </div>
          </div>
          <h5 class="text-center">Note: All fields are required.</h5>

          <div class="form-group">
            <label>First Name:</label>
            <input type="text" class="form-control" ng-model="model.firstName" name="firstName" required ng-minlength="1"
                   ng-maxlength="80">

            <div ng-messages="step2Form.firstName.$error" role="alert" ng-if="step2Form.firstName.$dirty">
              <p ng-message="required, minlength, maxlength" class="help-block">First name must be between 1 and 80
                characters.</p>
            </div>
          </div>
          <div class="form-group">
            <label>Middle Name:</label>
            <input type="text" class="form-control" ng-model="model.middleName" name="middleName" required ng-minlength="1"
                   ng-maxlength="80">

            <div ng-messages="step2Form.middleName.$error" role="alert" ng-if="step2Form.middleName.$dirty">
              <p ng-message="required, minlength, maxlength" class="help-block">Middle name must be between 1 and 80
                characters.</p>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name:</label>
            <input type="text" class="form-control" ng-model="model.lastName" name="lastName" required ng-minlength="1"
                   ng-maxlength="80">

            <div ng-messages="step2Form.lastName.$error" role="alert" ng-if="step2Form.lastName.$dirty">
              <p ng-message="required, minlength, maxlength" class="help-block">Last name must be between 1 and 80
                characters.</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
              <p class="input-group">
                <label>Date of Birth:</label>
                <input type="text" class="form-control" placeholder="{{model.dateFormat| uppercase}}"
                       datepicker-popup is-open="DobStatus.opened"
                       ng-model="model.birthDay" name="birthDay" required/>
                            <span class="input-group-btn" style="vertical-align: bottom">
                                <button type="button" class="btn btn-default" ng-click="openDob($event)"
                                        style="height: 42px">
                                  <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
              </p>
              <div ng-messages="step2Form.birthDay.$error" role="alert" ng-if="step2Form.birthDay.$dirty">
                <p ng-message="required, date" class="help-block">Must be a valid date.</p>
              </div>
            </div>
            <div class="form-group col-sm-4 col-sm-offset-2">
              <label>Gender:</label>
              <select class="form-control" ng-model="model.gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Undifferentiated">Undifferentiated</option>
              </select>

              <div ng-messages="step2Form.gender.$error" role="alert" ng-if="step2Form.gender.$dirty">
                <p ng-message="required" class="help-block">Gender is required.</p>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-block btn-primary" ng-click="model.step = 3"
                  ng-disabled="step2Form.$invalid">Next
          </button>
        </div>
      </div>
      <!-- STEP 2 END -->
      <!-- STEP 3 -->
      <div ng-show="model.step == 3">
        <h4 class="text-center white">Registration: Finished</h4>

        <div class="panel panel-body">
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: 100%">
            </div>
          </div>
          <p class="text-center">
            <i class="fa fa-check fa-2x"></i>
          </p>

          <p class="text-center">
            You are all set!
          </p>

          <p class="text-center padding-bottom">
            Click below to continue to your health record.
          </p>
          <button type="button" class="btn btn-block btn-success" ng-click="submitRegistration()">Complete</button>
          <div ng-show="model.isSubmitting" class="text-center login-alert"><i class="fa fa-spinner fa-spin"></i></div>
          <div class="text-center">
            <div ng-if="model.error" class="text-center login-alert"><i class="fa fa-exclamation-circle"></i>
              {{model.error}}
            </div>
          </div>
        </div>
      </div>
      <!-- STEP 3 END -->
    </div>
  </div>
</div>