<div class="container">
    <div class="row">
        <div class="col-sm-3 body-left">
            <div class="profile panel-body">
                <div class="profile-image">
                    <img src="images/img-demo.jpg" alt=""/>
                </div>
                <h4>Isabella Jones</h4>
                <p>Born: May 1, 1975</p>
            </div>
        </div>
        <div class="col-sm-9 body-padding">
            <div class="panel panel-body">
                <div class="breadcrumb0">
                    <a href="#">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <a href="#">My records</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Review Updates</span>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <h4 class="ng-binding">Isabella's  medications Updates</h4>
                        <p>Entries to the left are possible updates to a current entry in your record, displayed to the right.</p>
                        <p>Use the checkboxes to select updates you wish to apply.</p>
                        <h6>Note:  only differences between the entries are displayed.</h6>
                    </div>
                    <div class="col-sm-5">

                    </div>
                </div>
            </div>
            <h4 class="text-center white">Matches</h4>
            <div class="panel">
                <div class="panel-body">
                    <div><div class="col-sm-12">
                        <div class="col-sm-6">
                            <h4 class="text-center">Record Updates</h4>
                        </div>
                        <div class="col-sm-6">
                            <h4 class="text-center">Current Record</h4>
                        </div>
                    </div>
                    <div>
                    <div class="col-sm-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="panel" colspan="2" style="border:none;">
                                        <h4 class="text-left">Cefepime</h4>
                                        <h5 class="text-left">Oct 2, 2012 - Present</h5>
                                    </td>
                                    <td style="border:none;">
                                        <svg height="40" width="20" style="position: relative; left: -9px; top: 0px;">
                                            <polygon points="0,0 20,20 0,40 -10,40" style="fill:rgba(255,255,255,0.75);stroke:#ddd;stroke-width:0"></polygon>
                                        </svg>
                                    </td>
                                    <td class="panel" colspan="2" style="border:none;">
                                        <h4 class="text-left">CEFEPIME</h4>
                                        <h5 class="text-left"></h5>
                                    </td>
                                </tr>


                                <tr>
                                    <td class="panel" style="border: none;"><span style="white-space:nowrap">
                                    <input type="checkbox"> Product:</span>
                                    </td>
                                    <td class="panel" style="border: none;">
                                        <div class="panel">
                                            <table class="table sub-table">
                                                <tbody>
                                                    <tr>
                                                        <td>Name:</td>
                                                        <td>Cefepime <span class="label label-info pull-right">Different</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Code:</td>
                                                        <td>329646
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Code System:</td>
                                                        <td>RXNORM
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td style="border:none;">&nbsp;</td>
                                    <td class="panel" style="border: none;">Product:</td>
                                    <td class="panel" style="border: none;">
                                        <div class="panel">
                                            <table class="table sub-table">
                                                <tbody>
                                                    <tr>
                                                        <td>Name:</td>
                                                        <td>CEFEPIME</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Code:</td>
                                                        <td></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Code System:</td>
                                                        <td></td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>


                                <tr>
                                    <td colspan="2">
                                        <div class="col-sm-8 col-sm-offset-2 btn-group-vertical">
                                            <button class="btn btn-default btn-block"><i class="fa fa-undo"></i>Undo All</button>
                                            <button class="btn btn-warning btn-block">Create New</button>
                                        </div>

                                    </td>
                                    <td>&nbsp;</td>
                                    <td colspan="2">
                                        <div class="col-sm-8 col-sm-offset-2 btn-group-vertical">
                                            <button class="btn btn-primary btn-block">Save Updates</button>
                                            <button class="btn btn-default btn-block">Ignore Updates</button>
                                        </div>

                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
