<div class="panel panel-body">
    <home-breadcrumbs></home-breadcrumbs>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h4>{{model.userName}}'s results</h4>

            <p>Last Updated: {{model.lastUpdate| date :'short'}}</p>
        </div>
    </div>
    <review-updates updates="model.updates" entry-type="model.entryType"></review-updates>
    <h4 class="text-center white">Results</h4>

    <div class="panel panel-body">
        <div class="blocks">
            <div ng-repeat="item in model.testresultsList" user-timeline-entry="item"></div>
        </div>
        <h5 ng-hide="model.testresultsList" class="col-sm-12 text-center">No Result Entries</h5>
    </div>
</div>
